  <div class="container">


  

      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Transaction ID</th>
              <th>Quantity</th>
              <th>User</th>
              <th>Price</th>
              <th>Status</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="https://www.menzili.tn/upload/photos/2024/08/21/18/29/31t6pd949e.jpeg" alt="Product"> NIKE AIR</td>
              <td>TRX098765</td>
              <td>1</td>
              <td>Sarah</td>
              <td>Rp900.000</td>
              <td><span class="status shipped">Shipped</span></td>
              <td><span class="status shipped">details</span></td>
            </tr>
            <tr>
              <td><img src="https://www.tps-immobiliere.com/medias/contrat/1748015503whatsappimage20250523no12.25.51415d99a3.jpg" alt="Product"> STAYE TUMBLR</td>
              <td>TRX123456</td>
              <td>2</td>
              <td>John</td>
              <td>Rp500.000</td>
              <td><span class="status packing">Packing</span></td>
            </tr>
            <tr>
              <td><img src="https://www.menzili.tn/upload/photos/2024/12/18/09/34/5i3s61q921.jpg" alt="Product"> IPHONE 13</td>
              <td>TRX555888</td>
              <td>1</td>
              <td>Anna</td>
              <td>Rp12.000.000</td>
              <td><span class="status delivered">Delivered</span></td>
              
            </tr>
            </tbody>
            </table></div>